  
body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  background: rgb(14, 12, 46);
  background: linear-gradient(
    340deg,
    rgba(14, 12, 46, 1) 0%,
    rgba(32, 30, 107, 1) 34%,
    rgba(60, 60, 148, 1) 69%,
    rgba(116, 113, 199, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}